In [126]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pathlib import Path
import pandas as pd
import seaborn as sns
plt.style.use('ggplot')

In [127]:
data_dir = Path("Data")
braemar_dir = Path(data_dir, "Braemar.txt")
heathrow_dir = Path(data_dir, "Heathrow.txt")

In [128]:
with open(braemar_dir) as f:
    braemar = f.readlines()

In [129]:
header = braemar[0].strip()
braemar = braemar[2:]

In [130]:
def clean_text(input_text:str) -> list[str]:
    split_text = input_text.split(" ")
    newlines_removed = [x.replace("\n", "").replace("Provisional", "") for x in split_text]
    return [x for x in newlines_removed if len(x) > 0]

In [131]:
header = clean_text(header)
braemar_clean = [clean_text(x) for x in braemar]
braemar_df = pd.DataFrame(braemar_clean, columns = header)

In [132]:
braemar_df.head()

   yyyy mm  tmax  tmin   af rain    sun
0  1959  1   1.7  -5.7   27  ---   34.2
1  1959  2   6.2  -3.2   15  ---   68.6
2  1959  3   7.6   0.8    7  ---   80.9
3  1959  4   ---   ---  ---  ---  105.0
4  1959  5  15.6   4.6    1  ---  182.6